/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* This is added in here specifically for responsive font sizes */
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  border: 2px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}
header .mark-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}
header .mark-nav h1 {
  padding: 10px;
  font-family: 'Amatic SC', cursive;
}
header .mark-nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: lightslategray;
  padding: 10 20;
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
body {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 880px) {
  body {
    width: 85%;
  }
}
@media (max-width: 500px) {
  body {
    width: 90%;
  }
}
body .topSection {
  margin: 0 auto;
  margin-top: 30px;
}
body .topSection .largeBlock {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #F8D195;
  margin: 0 auto;
  border: 2px solid #F8D195;
  border-radius: 25px;
}
@media (max-width: 880px) {
  body .topSection .largeBlock {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .topSection .largeBlock {
    width: 100%;
  }
}
body .topSection .largeBlock h2 {
  font-size: 2.75rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .topSection .largeBlock p {
  font-size: 1.25rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  line-height: 30px;
}
body .topSection .largeBlock a {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 2px solid black;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (max-width: 880px) {
  body .topSection .largeBlock a {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 350px;
  }
}
body .topSection .largeBlock a:hover {
  background-color: #ff5e13;
  transition-duration: 1s;
}
body .bottomSection {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
@media (max-width: 880px) {
  body .bottomSection {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  body .bottomSection {
    width: 100%;
  }
}
body .bottomSection .smallBlock {
  width: 45%;
  height: 600px;
  background-color: #F8D195;
  text-align: center;
  border: 2px solid #F8D195;
  border-radius: 25px;
}
@media (max-width: 880px) {
  body .bottomSection .smallBlock {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  body .bottomSection .smallBlock {
    height: 400px;
  }
}
body .bottomSection .smallBlock h2 {
  font-size: 2.75rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .bottomSection .smallBlock p {
  width: 80%;
  font-size: 1.25rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 30px;
}
body .bottomSection .smallBlock img {
  width: 400px;
}
@media (max-width: 880px) {
  body .bottomSection .smallBlock img {
    width: 600px;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  body .bottomSection .smallBlock img {
    display: none;
  }
}
