//styling for the body of the about Page
.about-content{
  .displayFlex(center; center; 90%; 20px 5%;);
  flex-direction: column;
  section{
    .seenBorder;
    margin-bottom: 15px;
  }
  .person1{
    //might have to try display inline block on this part. test that out tomorrow since i'm very tired nowwww.
    .seenBorder;
    img{
      width: 25%;
      height: auto;
    }
  }
}
