//navigation styles go here

header{
  .border(2px solid @bordercolor; 10px);
  .displayFlex(center; center; 90%; 0 5%;);
    nav{
      .displayFlex(space-between; center; 100%; 10px;);
      h1{
        font-family: 'Amatic SC', cursive;
        width: 60%;
        text-align: right;
        padding-right: 20px;
      }
      .a-tags{
        width:40%;
        text-align: right;
        a{
          font-size: 1.8rem;
          text-decoration: none;
          color:lightslategray;
          padding: 20px 5px;
          border-left: 2px solid orange;
        }
      }
    }
  }
