@orange: #ff5e13; // bright orange
@wild-sand: #f6f6f6; // light gray color
@french-gray: #bcbac6; // silverish gray
@black-pearl: #030620;

@center-margin: 0 auto;

//this variable is so that if the main Dad Jokes site decides to change their color scheme, this will be an easy fix
@bordercolor: orange;
@tablet: ~"(max-width: 880px)";
@mobile: ~"(max-width: 500px)";
